<ion-content style="background:url(assets/img/TMOKChC1QYiWopnFdzQF_blank20DREAM20SCREENSHOT.png) no-repeat center;background-size:cover;" id="page14">
  <div style="margin-top: 77vh;">
<!--    <h1 (click)="testing()">Hello</h1>-->
<!--    <h1 (click)="testing1()">Hello 2</h1>-->
<!--    <h1 (click)="testing1()">Hello 2</h1>-->
<!--    <progress value="0.25" buffer="0.5"></progress>-->
<!--    <ion-icon name="cloud-download" style="    position: absolute;-->
<!--    font-size: 10vh;-->
<!--    align-items: center;-->
<!--    margin-left: 42%;-->
<!--    margin-top: 5px;"></ion-icon>-->
<!--    <p style="position: absolute;-->
<!--    font-size: 5vh;-->
<!--    align-items: center;-->
<!--    margin-left: 45%;-->
<!--    margin-top: 105px;">10%</p>-->
<!--    <ion-icon name="play" style="position: absolute;-->
<!--    font-size: 10vh;-->
<!--    align-items: center;-->
<!--    margin-left: 42%;-->
<!--    margin-top: 5px;"></ion-icon>-->
    <progress-bar [progress]="loadProgress" [totalDuration]="totalDuration" [currentDuration]="currentDuration" type="playing" *ngIf="downloadStatus && playing"></progress-bar>
    <progress-bar [progress]="loadProgress" type="downloading" *ngIf="downloading"></progress-bar>
    <ion-grid>
      <ion-col col-4 offset-4 style="margin-top: -25px;">
        <button (click)="play()" *ngIf="downloadStatus && !playing" ion-button color="light" round block style="height: 100px; width: 173px; font-size: 80px;">
          <ion-icon name="play"></ion-icon>
        </button>
        <button (click)="pause()" *ngIf="downloadStatus && playing" ion-button color="light" round block style="height: 100px; width: 173px; font-size: 80px;">
          <ion-icon name="pause"></ion-icon>
        </button>
        <button (click)="download()" *ngIf="!downloadStatus" ion-button color="light" round block style="height: 100px; width: 173px; font-size: 80px;">
          <ion-icon name="cloud-download"></ion-icon>
        </button>
      </ion-col>
    </ion-grid>
<!--    <ion-buttons ion-button color="danger" (click)="testing()">Hello</ion-buttons>-->
  </div>
</ion-content>
